<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="abertas">Atividades em aberto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="concluidas"
          >Atividades Concluídas</a
        >
      </li>
    </ul>
  </div>
  <div class="card mt-3">
    <div class="card-header">
      <div class="float-start">
        <h4>Lista de Atividades</h4>
      </div>
      <div class="float-end">
        <button type="button" class="btn btn-primary" [routerLink]="['/novo']">
          Nova Atividade
        </button>
      </div>
    </div>
    <table class="table table-hover" *ngIf="atividades$ | async as atividades">
      <thead>
        <tr>
          <th>#</th>
          <th>Atividade</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let atividade of atividades$ | async">
        <tr *ngIf="atividade.concluido === true">
          <!-- <div *ngIf="atividade.concluido === true"></div> -->
          <td>{{ atividade.id }}</td>
          <td>{{ atividade.atividade }}</td>
          <td>
            <span class="float-end">
              <button
                class="btn btn-outline-warning mb-1 btn-sm"
                (click)="onUpdate(atividade.id)"
              >
                Editar
              </button>
              {{ "" }}
              <button
                class="btn btn-outline-danger mb-1 btn-sm"
                (click)="onDelete(atividade)"
              >
                Remover
              </button>
              {{ "" }}
              <button
                class="btn btn-outline-success mb-1 btn-sm"
                (click)="onConcluir(atividade.id)"
                *ngIf="!atividade.concluido"
              >
                Concluir atividade
              </button>
              {{ "" }}
              <button
                class="btn btn-outline-danger mb-1 btn-sm"
                (click)="onAbrir(atividade.id)"
                *ngIf="atividade.concluido"
              >
                Voltar atividade
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Deseja remover a atividade?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">
      Não
    </button>
  </div>
</ng-template>
